body {
    font-family: sans-serif;
    margin: 0;
    background-color: #e42f2f; 
} 
  
header {
    color: #f69d0f; 
    padding: 20px 0;
    background-color: #575553;
}
  
.container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px; 
    flex-wrap: wrap; 
}
  
.logo h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #f69d0f; 
}
  
.navbar {
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 100%;
}
  
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
  
nav ul li {
    margin-right: 20px;
    color: #f69d0f;
}
  
nav ul li a {
    color: #f69d0f;
    text-decoration: none;
    transition: all 0.3s ease;
}
  
nav ul li a:hover {
    color: #110101c5; 
}
  
.contact {
    color: #f69d0f;
    display: flex;
    gap: 20px;
    margin-top: 10px; 
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-weight: 1000;
    font-size: 1.2rem;
}
  
.contact a {
    color: #c38520; 
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    margin-left: 0; 
    font-size: 1.2 rem;
}
  
.contact a i {
    margin-right: 5px; 
}

.copyright {
    color: #f69d0f; 
    padding: 10px 0;
    background-color: #100b06;
    text-align: center;
}

.sherbimet {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}
.sherbim {
    width: 200px;
    margin: 15px;
    text-align: center;
}
.sherbim img {
    width: 100%;
    max-width: 150px;
    height: auto;
    border-radius: 50%;
}
.sherbim p {
    font-weight: bold;
    margin-top: 10px;
    color: #f69d0f;
}

.ekipi {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.avv {
    flex: 1;
    padding-right: 20px;
    padding-left: 20px;
}
.foto {
    flex-shrink: 0;
}
.foto img {
    width: 250px;
    height: 350px;
    object-fit: cover;
    border: 3px solid #ccc;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .line {
    width: 25px;
    height: 3px;
    background-color: #f69d0f;
    margin: 4px 0;
    transition: all 0.3s;
}

.footer {
    color: #f69d0f;
    background-color: #575553;
}

.footer .row {
    margin: 0; 
}

.footer i {
    padding-left: 0;
    margin-right: 10px;
}

.footer a {
    text-decoration: none;
    color: #f69d0f;
}

.addres {
    margin-top: 120px;
}

.hidden-on-mobile {
    display: none !important;
}

.mapouter {
    margin: 20px 0;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column; 
        align-items: center;
    }

    .navbar {
        flex-direction: column; 
        width: 100%;
        justify-content: center;
        align-items: center;
        order: 1; 
        padding-bottom: 10px; 
    }
    
    .logo {
        width: 100%;
        text-align: center; 
    }

    .logo h1 {
        font-size: 2rem;
        text-align: center;
    }
    
    .contact {
        order: 2; 
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        justify-content: center;
    }
    
   
    .hamburger {
        display: flex;
        order: 3;
    }

    
    .nav-links {
        display: none;
        position: absolute;
        top: 200px; 
        left: 0;
        background-color: #575553;
        flex-direction: column;
        width: 100%;
        align-items: center;
        z-index: 100;
        padding: 10px 0;
        border-top: 1px solid #c38520;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .nav-links.active {
        display: flex;
        flex-direction: column;
    }


    .ekipi {
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }

    .ekipi.reverse {
        flex-direction: column;
    }
    
    .foto img {
        width: 100%;
        max-width: 250px;
        height: auto;
        margin-top: 15px;
    }
    
    .sherbim {
        width: 45%;
        margin: 10px;
    }
    
    .footer .row > div {
        margin-bottom: 30px;
    }
    .footer .col-md-4 {
        width: 100%;
    }

    .addres {
        margin-top: 0;
    }
}


        .modal-body p {
            text-align: justify;
            font-size: 1rem;
        }
        
        .sherbim a {
            cursor: pointer;
            text-decoration: none;
            color: inherit; 
        }
        .sherbim a:hover {
            color: #f69d0f;
        }